body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url('../../images/back-site.webp') no-repeat center center fixed; 
    background-size: cover;
  }
  
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
  }
  
  .login-container h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #293013;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-container input {
    width: 90%;
    margin: 10px 0;
    padding: 12px;
    font-size: 18px;
    border: 2px solid #5D6E1E;
    border-radius: 8px;
  }
  
  .login-container button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #5D6E1E;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-container button:hover {
    background-color: #4a5818;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .login-container p {
    margin-top: 10px;
  }
  
  .login-container a {
    color: #1ca0ec;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  