.contact-container {
    padding: 20px;
    background-color: #CBE54E;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(7, 21, 146, 1);
    margin: 20px auto;
    border-radius: 40px;
    text-align: left;
}

.contact-container h1 {
    font-size: 24px;
    color: #293013;
    text-shadow: 0 4px 8px rgba(7, 21, 146, 1);
    margin-bottom: 20px;
    text-align: center;
}

.contact-container p{
    text-align: center;
    font-size: 20px;
    color: #293013;
}

.contact-container ul {
    font-size: 22px;
    list-style-type: disc;
    padding-left: 28%;
    font-size: 20px;
    color: #293013;
}

.contact-image {
    display: block;
    margin: 20px auto;
    width: 50%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(7, 21, 146, 1);
}
