body {
    background-color: #5BA8A0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quiz-container {
    padding: 20px;
    background-color: #CBE54E;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(7, 21, 146, 1);
    margin: 20px auto;
    border-radius: 40px;
    text-align: center;
}

.quiz-container h1 {
    font-size: 24px;
    color: #293013;
    text-shadow: 0 4px 8px rgba(7, 21, 146, 1);
    margin-bottom: 20px;
}

.quiz-container .results {
    font-size: 20px;
    color: #293013;
    text-shadow: 0 4px 8px rgba(7, 21, 146, 1);
}

.quiz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-block {
    margin: 10px 0;
}

.question-block h3 {
    font-size: 20px;
    color: #293013;
    text-shadow: 0 4px 8px rgba(7, 21, 146, 1);
}

.answers-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.answer-item {
    font-size: 18px;
    margin: 10px auto;
    padding: 10px;
    text-align: left;
}

.answer-item:hover {
    background-color: #94B447;
}

.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #657a17;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #4a5818;
}
